<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank test ttt
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-title">
    Meus Videos
  </div>

  <div class="movies">
    <div class="movie">
      <div class="movie-banner">
        <img src="https://image.tmdb.org/t/p/w440_and_h660_face/u3bZgnGQ9T01sWNhyveQz0wH0Hl.jpg">
      </div>
      <div class="movie-title">Game of Thrones</div>
      <div class="movie-date">17 de abr de 2011</div>
    </div>
  </div>
</ion-content>
